.heatmap_canvas{
    width: 90vw; 
    height: 50vh;
    /* position:absolute; */
    background-image: url('../../assets/playground.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    top: 5%;
    left: 5%;
    transform: translate(0, 10%);
  }
