.heatmap_canvas{
    width: 50vw; 
    height: 50vh;
    position:absolute;
    /* background-color: white; */
    background-image: url('../../assets/playground.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    top: -40%;
    left: 5%;
    transform: translate(-5%, 40%);
  }
