.dark_heart {
  color: rgb(97, 99, 101);
  float: left;
  margin-left: 0.5rem;
}
.heart_icon {
  color: red;
  animation: heartbeat 1s infinite;
  float: left;
  margin-left: 0.5rem;
}
@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}
