/* nav > div {
  text-align: center;
  float: left;
} */

.wrapper {
  overflow: hidden;
  background: #000F24;
  height: 5vh;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  justify-content: space-between;
}

.navButton {
  background: none;
  color: aliceblue;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  border: 0;
  outline: 0;
}