nav {
  font-size: 1.2em;
  display: flex;
  margin-bottom: 1rem;
}
nav ul {
  margin: 0;
}
nav ul li {
  text-align: center;
  display: inline-block;
  background: rgba(220, 220, 220, 0.5);
  padding: 5px 50px;
  transform: skew(30deg, 0deg);
}
nav ul li.main:after {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 50%;
}
nav ul li.right {
  background: none;
  background-image: linear-gradient(
    to right,
    rgba(220, 220, 220, 0.5) 70%,
    rgba(192, 192, 192, 0)
  );
}
nav ul li.left {
  background: none;
  background-image: linear-gradient(
    to left,
    rgba(220, 220, 220, 0.5) 65%,
    rgba(192, 192, 192, 0)
  );
}
nav ul li:hover {
  background: #b3eac7;
  color: #222;
  text-shadow: 0px 0px 0.1px #222;
}
nav ul li span {
  display: block;
  transform: skew(-30deg, 0deg);
  color: #444;
  font-weight: 700;
  font-family: 'Exo', sans-serif;
}
nav ul li span:hover {
  text-decoration: none;
  color: #222;
}
