/* nav > div {
  text-align: center;
  float: left;
} */

.wrapper {
  overflow: hidden;
  background: #001431;
  height: 7vh;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  justify-content: center;
  border-bottom: 0.01rem solid rgba(255, 255, 255, 0.5);
}

.wrap {
  display: flex;
  justify-content: center;
}

.wrap div {
  width: 50vw;
  border: 0.01rem solid rgba(255, 255, 255, 0.5);
}

.navButton {
  background: none;
  color: aliceblue;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 0.5rem;
  font-size: 0.7rem;
  border: 0;
  outline: 0;
}