.size {
  position: relative;
  user-select: none;
  overflow: hidden;
}

.toolbox {
  z-index: 2;
  position: absolute;
  display: flex;
}
.socketGroup {
}
.canvas_box {
  position: relative;
}

.canvas2 {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  /* background-image: url(../assets/soccer_field.jpg);
  background-size: 100% 100%; */
}
.canvas3 {
  z-index: -2;
  position: fixed;
  top: 0;
  left: 0;
  /* background-image: url(../assets/soccer_field.jpg);
  background-size: 100% 100%; */
}
