/* !!Z-INDEX 정리!!*/
/*
TOP: 
0. 소켓그룹 1
1. fieldPage Canvas(드로잉 관련) 0
2. buffer 관련 (1. buffer 축구공, 2. 회색박스(CoordsSet)) -1, -2
3. 복제좌표 -3
4. 원좌표 -4
5. 복제좌표 선 -5
6. 필드 -10
7. 스코어보드 2
*/

.size {
  position: relative;
  user-select: none;
  overflow: hidden;
  height: 100vh;

  /* background-color: #000f24; */
}
/* .size * {
  touch-action: none;
} */

.canvas_box {
  position: relative;
}

.field_tools {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 3rem;
  top: -4%;
}

.socketGroup {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
.custom_btn {
  width: 7rem;
  height: 2rem;
  color: #000f24;
  border-radius: 5px;
  font-weight: bold;
  background: transparent;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

/* 5 */
.game_close {
  width: 7rem;
  height: 2rem;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(179, 220, 60);
  background: linear-gradient(
    0deg,
    rgba(179, 220, 60, 1) 0%,
    rgba(179, 210, 64, 1) 100%
  );
}
.game_close:hover {
  color: #739106;
  background: transparent;
  box-shadow: none;
}
.game_close:before,
.game_close:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #739106;
  box-shadow: -1px -1px 5px 0px rgb(132, 132, 132), 7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}
.game_close:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.game_close:hover:before,
.game_close:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
