.ipInput {
    text-align: center;
    font-size: 40px;
    background-color: transparent;
    color: #b3dc45 ;
    border-radius: 1.5rem;
}

.Port {
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
    width: 120px;
    background-color: transparent;
    color: #b3dc45 ;
    border-radius: 1.5rem;
}

.ipButton {
    margin-top: 40px;
    color: white;
    background-color: transparent;
    width: 10%;  
    height: 20%;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 4px;
    padding-bottom: 10px;
    padding-top: 10px;
  
}
.ipInsertCon {
    background-color: rgba(49, 50, 56, 0.6);
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 1.5rem;
    margin-top: 100px;
}

.ipInsertTitle{
    color: aliceblue;
    margin-bottom: 10px;
}
.ipfont {
    color: aliceblue;
    
    font-size: 40px;
}

/* .background {
    overflow: auto;
    height: 1000px;
    background-image:  url(http://orig10.deviantart.net/c37f/f/2016/188/0/d/background_fav___share_by_dreamgraphicss-da93xt5.jpg);
    background-size: cover;
  
} */

.errorMessage {
    font-size: 30px;
    color: #b3dc45;
    margin-top: 20px;
}