.mainPage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(http://orig10.deviantart.net/c37f/f/2016/188/0/d/background_fav___share_by_dreamgraphicss-da93xt5.jpg);
}

.Modal {
    display: flex;
    flex-direction: column;
}

.modalText {
    margin: 1rem;
}

.modalX {
    position: absolute;
    top: 1%;
    left: 99%;
    transform: translate(-99%, -1%);
}

.modalButton{
    display: flex;
    justify-content: center;
}

.modalClose {
    width: 15rem;
    height: 3rem;
    border: #739106 solid;
    border-radius: 30px;
    color: aliceblue;
    background-color: #739106;
}

.mainButtons {
    margin: 1rem;
    width: 15rem;
    height: 3rem;
    border: #739106 solid;
    border-radius: 30px;
    color: aliceblue;
    background-color: #739106;
}




