.body {
  height: max-content;
  min-height: calc(95vh);
  margin-bottom: 5vh;
  background-color: #000F24;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.records {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 30%));
  grid-gap: 0.7rem;
  padding: 1rem;
  width: 80%;
  padding-top: 6rem;
}

@media screen and (max-width: 1090px) {
  .records {
    grid-template-columns: 1fr;
    width: 100%;
  }
}