.body {
    height: 105vh;
    display: flex;
    justify-content: center;
    background-color: #000F24;
}

.graphbutton {
    display: flex;
    position: fixed;
    bottom: 3rem;
}

.detailButton {
    margin: 1rem;
    width: 15rem;
    height: 3rem;
    border: #739106 solid;
    border-radius: 30px;
    color: aliceblue;
    background-color: #739106;
}