.background {
    overflow: auto;    
    background-image:  url(http://orig10.deviantart.net/c37f/f/2016/188/0/d/background_fav___share_by_dreamgraphicss-da93xt5.jpg);
    background-size: cover;
  
}