.size {
  position: fixed;
  user-select: none;
  overflow: hidden;
}

.toolbox {
  z-index: 1;
  position: absolute;
}

.canvas_box {
  position: relative;
}

.canvas2 {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
}
