.playerImg {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 1rem;
}

.playerInfoContainer {
  margin-right: 10px;
}

.userinfo {
  margin-top: 5px;
  color: #739106;
}
.deletebtn {
  color: #b3dc3c;
  cursor: pointer;
  position: relative;
  top: -3rem;
  left: 1.8rem;
}
