.formationContainer {
    height: 80%;
    overflow-y: auto;
}

.formationTitle {
    color: white;
    text-align: start;
    margin-left: 20px;
    margin-top: 25px;
}

.playerContainer {
    background-color: rgba(49, 50, 56, 0.4);
    width: 40%;
    height: 100%;    
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center ;
    font-size: 30px;        
    margin-right: 10px;
}

.playersCon {
    display: flex;
    height: 30%;
    margin-left: 10px;
}

.playerimgCon {
    width: 100%;    
     
}

.playerimg {
    width: 100%;
    height: 100%;   
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center ;
    object-fit: cover;
    margin-right: 10px;
}

.playername {
    /* height: 100%; */
    text-align: center;
}

.imgCardCon {
    width: 40%;
    margin-right: 10px;
}

.playerName {
    width: 100%;
    color: aliceblue;
    margin: 0;
}

.removebutton {
    position: relative;
    width: 20%;   
    text-align: center;    
    color: white;    
    text-align: center;
    top: -99%;
    border-radius: 1rem;
    left: 78%;    
    background-color: red;  
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 4px;
}